@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 3;
  color: rgb(164, 66, 66);
  width: 100vw;
  top: 170px;
  font-size: 28px;
  font-weight: 600;
  gap: 10px;
}

.title-container .location {
  font-weight: 400;
  font-size: 16px;
  color: rgb(237, 237, 237);
}

.search-container {
  position: absolute;
  margin-top: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 6;
}

form input {
  height: 30px;
  font-size: 18px;
  background-color: rgb(40, 40, 40);
  border: none;
  padding-left: 5px;
  color: rgb(202, 202, 202);
}

form input:focus {
  outline: none;
}

#places {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  z-index: 6;
}

#places button {
  border: none;
  width: auto;
  color: rgb(208, 208, 208);
  background-color: rgb(37, 37, 37);
  cursor: pointer;
  font-size: 16px;
  padding: 4px 10px;
  z-index: 6;
}

#places button:hover {
  background-color: rgb(29, 29, 29);
}

.display-container {
  color: white;
  display: flex;
  justify-content: center;
}

.middle {
  display: flex;
  justify-content: center;
}

.cave-container {
  /* border: solid 1px white; */
  height: 100vh;
  width: 600px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

#cave {
  /* border: solid 1px white; */
  z-index: 2;
}

#tv-image {
  z-index: 1;
  width: 200px;
  left: 30px;
  top: 355px;
  position: absolute;
}

#window-image {
  z-index: 1;
  left: 180px;
  top: 310px;
  width: 250px;
  position: absolute;
}

.left-side {
  width: 160px;
  margin-bottom: 25px;
  text-align: end;
  /* position: relative;
  left: 40px; */
  z-index: 3;
}

.right-side {
  margin-bottom: 30px;
  width: 160px;
}

.left-side img {
  width: 60px;
  align-self: end;
}

.right-side,
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(237, 237, 237);
}

.right-side p,
.left-side p {
  font-size: 22px;
  margin-top: 6px;
}

.right-side .label,
.left-side .label {
  font-size: 12px;
  margin-top: 20px;
}

#place {
  font-size: 16px;
  margin-top: 10px;
}

#condition {
  color: rgb(189, 189, 239);
}

#temperature-celcius,
#temperature-f {
}

.forecast-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: absolute;
  bottom: 80px;
  z-index: 5;
  width: 100vw;
}

.day {
  color: rgb(237, 237, 237);
  width: 100px;
}

.day p {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
}

.day p:nth-child(1) {
  color: rgb(189, 189, 239);
}

.day .label {
  font-size: 12px;
}

/* Animation */

#eye {
  z-index: 3;
  width: 20px;
  position: absolute;
  right: 114px;
  top: 357px;
  animation-name: eye;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
}

#eye.running {
  animation-play-state: running !important;
}

@keyframes eye {
  0% {
    right: 114px;
    transform-origin: left;
    transform: translate(0px);
  }
  100% {
    transform: translateX(8px);
  }
}

.top-eyelid,
.bottom-eyelid {
  width: 100vw;
  background-color: black;
  position: absolute;
  z-index: 7;
  height: 460px;
  transition: 1s;
}

.top-eyelid {
  transform-origin: top;
}

.bottom-eyelid {
  bottom: 0px;
  transform-origin: bottom;
}

.top-eyelid {
  /* animation-name: open-top; */
  /* animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running; */
}

.top-eyelid.opened {
  transform: scaleY(0.01);
}

.bottom-eyelid.opened {
  transform: scaleY(0.01);
}

@keyframes open-top {
  0% {
    /* height: 10px; */
    transform-origin: top;
    transform: scaleY(1);
  }
  100% {
    /* height: 1000px; */
    transform-origin: top;
    transform: scaleY(0.01);
  }
}
